@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600&family=Open+Sans:wght@500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
font-family: 'Open Sans', sans-serif;
.logo{
cursor: pointer;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}
h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}
h4{
    font-size: 20px;
    color: #222;
}
h6{
    font-weight: 700;
    font-size: 12px;
}
p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}
.section-p1{
    padding: 40px 80px;
}
.section-m1{
    margin: 40px 0;
}
body{
    width: 100%;
}
#header {
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 20px 80px;
 background: #E3E6F3;
 box-shadow: 0 3px 9px #cecece;
 z-index: 999 ;
 position: sticky;
 top: 0;
 left: 0;
}
#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbar li {
    list-style: none;
    padding: 0 30px;
    position: relative;
}
#navbar li a{
    color: #222;
    text-decoration: none;
}
#navbar li a:hover,
#navbar li a.active{
    color: rgb(51, 129, 184);
    transition: 0.3s ease;
}
#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 42%;
    height: 2px;
    background:rgb(51, 129, 184) ;
    position: absolute;
    bottom: -4px;
    left: 30px;
}
#hero{
    background-image: url(resources/ayo-ogunseinde-1Dsvt_XAclw-unsplash.png);
    height: 80vh;
    width: 100%;
    background-size: 1250px;
    padding-right:40px;
    background-repeat: no-repeat;
    background-position: right bottom;
    padding: 0 80px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-color: #E3E6F3;
}
#hero h4{
    padding-bottom: 15px;
}
#hero h1{
    color: rgb(90, 140, 221);
}
#hero button{
    background-image: url(resources/shop\ button.png);
    background-color: transparent;
    border: 0;
    color:#222;
    background-size: cover;
    padding: 14px 90px 10px 85px;
    text-decoration: black;
    cursor: pointer;
}
.features{
    padding: 45px 80px;
    display: flex;
    justify-content: space-evenly;
}
#feature .f1{
    width: 180px;
    text-align: center;
    box-shadow: 15px 15px 35px #c7c7c7;
    padding-top: 10px ;
    border: 1px solid #cce7d0 ;
    border-radius: 4px;
    padding: 25px 15px;
}
#feature .f1:hover{
    box-shadow: 0px 0px 45px #c7c7c7;
}
#feature .f1 h6{
    color: #088178;
    border-radius: 7px;
    background-color: rgb(81, 255, 139);
    padding: 5px 7px 8px 9px;
    line-height: 1;
    display: inline-block;
}
#feature .f2{
    width: 180px;
    text-align: center;
    box-shadow: 15px 15px 35px #c7c7c7;
    padding-top: 10px ;
    border: 1px solid #cce7d0 ;
    border-radius: 4px;
    padding: 25px 15px;
}
#feature .f2:hover{
    box-shadow: 0px 0px 45px #c7c7c7;
}
#feature .f2 h6{
    color: #088178;
    border-radius: 7px;
    background-color: rgb(251, 144, 251);
    padding: 5px 7px 8px 9px;
    line-height: 1;
    display: inline-block;
}
#feature .f3{
    width: 180px;
    text-align: center;
    box-shadow: 15px 15px 35px #c7c7c7;
    padding-top: 10px ;
    border: 1px solid #cce7d0 ;
    border-radius: 4px;
    padding: 25px 15px;
}
#feature .f3:hover{
    box-shadow: 0px 0px 45px #c7c7c7;
}
#feature .f3 h6{
    color: #088178;
    border-radius: 7px;
    background-color: rgb(251, 254, 70);
    padding: 5px 7px 8px 9px;
    line-height: 1;
    display: inline-block;
}
#feature .f4{
    width: 180px;
    text-align: center;
    box-shadow: 15px 15px 35px #c7c7c7;
    padding-top: 10px ;
    border: 1px solid #cce7d0 ;
    border-radius: 4px;
    padding: 25px 15px;
}
#feature .f4:hover{
    box-shadow: 0px 0px 45px #c7c7c7;
}
#feature .f4 h6{
    color: #088178;
    border-radius: 7px;
    background-color: rgb(154, 231, 255);
    padding: 5px 7px 8px 9px;
    line-height: 1;
    display: inline-block;
}
#feature .f5{
    width: 180px;
    text-align: center;
    box-shadow: 15px 15px 35px #c7c7c7;
    padding-top: 10px ;
    border: 1px solid #cce7d0 ;
    border-radius: 4px;
    padding: 25px 15px;
}
#feature .f5:hover{
    box-shadow: 0px 0px 45px #c7c7c7;
}
#feature .f5 h6{
    color: #088178;
    border-radius: 7px;
    background-color: rgb(255, 162, 91);
    padding: 5px 7px 8px 9px;
    line-height: 1;
    display: inline-block;
}
#feature .f6{
    width: 180px;
    text-align: center;
    box-shadow: 15px 15px 35px #c7c7c7;
    padding-top: 10px ;
    border: 1px solid #cce7d0 ;
    border-radius: 4px;
    padding: 25px 15px;
}
#feature .f6:hover{
    box-shadow: 0px 0px 45px #c7c7c7;
}
#feature h6{
    color: #088178;
    border-radius: 7px;
    background-color: rgb(250, 193, 142);
    padding: 5px 7px 8px 9px;
    line-height: 1;
    display: inline-block;
}

#product1 .pro{
    width: 90%;
    min-height: 250px;
    padding: 10px 12px ;
    border: 1px solid #cce7d0;
    border-radius: 20px;
}
#product1 .pro img{
    width: 100%;
    pointer-events: none;
}
#product1 .probox{
    padding: 40px 10px 10px 40px;
    
}
#product1 .des{
    text-align: left;
}
#product1 .pro{
    box-shadow: 20px 20px 30px #c7c7c7;
}
#product1 .probox :hover{
   transform: scale(1.1);
    transition: 0.5s;
}
#product1 .probox .des{
    cursor: pointer;
    pointer-events: none;
    text-decoration: none;
}
#all{
    display: flex;
   justify-content: space-between;
}
#all2{
    display: flex;
   justify-content: space-between;
}
#ctab {
    width: inherit;
    background-image: url(resources/perry-merrity-ii-gPrJi5R4RAk-unsplash.jpg);
    background-size: cover;
    height: 70vh;
    padding-top: 150px;
    background-position: center;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 40px;
}
#ctab .bannerbut button{
    width: 120px;
    height: 40px;
    border-radius: 10px;
    margin-top: 70px; 
    cursor: pointer;
    font-size: 14px;  
    transition: 0.5s ease;
    background-color: rgb(255, 255, 255);
    border: #088178;
}
#ctab .bannerbut a button:hover{
    transform: scale(1.1);
}
#ctab .bannerbut a button:hover{
    background-color: #088178;
    transition: 0.5s ease;
    border: 1px #222;
}
#allprohead{
    
    text-align: center;
    padding-top: 40px;
}
#ctab2{
    background-image: url(resources/christopher-campbell-kFCdfLbu6zA-unsplash.jpg);
    width: 47%;
    text-align: center;
    margin-top: 60px;
    background-size: cover;
    height: 45vh;
    padding-top: 30px;
    background-position: center;
    text-align: center;
    margin-left: 40px;
}
#ctab2 button{
    margin: 30px;
    width: 85px;
    height: 4vh;
    border-radius: 7px;
    border: 1px;
    transition: 0.7s ease ;
    background-color: white;
    margin-left: 350px;
    font-size: small;
}
#ctab2 .but2 :hover{
    background-color: silver;
    transition: 0.7s ease;
}
#ctab2 .but2 :hover{
    transform: scale(1.1);
    transition: 0.7s ease;
}
#ctab2 h3{
    padding-bottom: 20px;
    padding-left: 310px;
    color: white;
    font-size: 25px;
}
#ctab2 h4{
    color: white;
    font-size: 25px;
    padding-left: 300px;
}
#ctab3{
    background-image: url(resources/man.jpg);
    background-position: right;
    width: 45%;
    text-align: center;
    margin-top: 60px;
    background-size: cover;
    height: 45vh;
    padding-top: 30px;
    margin-left: 40px;

}
#ctab3 button{
    margin: 30px;
    width: 85px;
    height: 4vh;
    border-radius: 7px;
    border: 1px;
    transition: 0.7s ease ;
    background-color: #efefef;
    margin-right: 400px;
}
#ctab3 .but3 :hover{
    background-color: rgb(182, 182, 182);
    transition: 0.7s ease;
    text-decoration: white;
}
#ctab3 .but3 :hover{
    transform: scale(1.1);
    transition: 0.7s ease;
}
#ctab3 h3{
    padding-bottom: 20px;
    color: rgb(234, 234, 234);
    padding-right: 350px;
    font-size: 25px;
}
#ctab3 h4{
    color: rgb(234, 234, 234);
    font-size: 25px;
    padding-right: 350px;
}
#upban{
    display: flex;
}
#ctabal{
    display: flex;
    text-align: center;
   
}
#ctabal h3{
    text-align: center;
    margin-top: 60px;
    color: rgb(255, 255, 255) ;
}
#ctabal p{
    color: rgb(0, 0, 0) ;
}
#ctabal .ctabal1{
    background-image: url(resources/b7.jpg);
    background-size: cover;
    height: 25vh;
    margin: 20px 10px 0 40px;
    width: 33.3%;
}
#ctabal .ctabal2{
    background-image: url(resources/b18.jpg);
    background-size: cover;
    height: 25vh;
    margin: 20px 10px 0 40px;
    width: 33.3%;
}
#ctabal .ctabal3{
    background-image: url(resources/atikh-bana-_KaMTEmJnxY-unsplash.jpg);
    background-size: cover;
    height: 25vh;
    margin: 20px 10px 0 40px;
    width: 33.3%;
    margin-right: 40px;
}
#newsletter{
    background-image: url(resources/b1.jpg);
    background-size: cover;
    height: 37vh;
    display: flex;
    margin-top: 40px;
    padding: 100px 0 0 70px;
}
#newsletter .newstext h4{
    color: white;
    margin-bottom: 30px;
}
#newsletter .newstext p{
    color: white;
    
}
#newsletter .form{
    padding: 7px 0px 0 400px;
    display: flex;
}   
#newsletter .form input{
    width: 409px;
    height: 5vh;
    border-radius: 6px;
    
}
#newsletter button {
    width: 20%;
    height: 5vh;
    border-radius: 6px;
    margin-left: 3px;
    background-color: rgb(51, 129, 184) ;
    cursor: pointer;
}
#footer{
    display: flex;
}
#footer .logofoot img{
    width: 200px;
    height: 17vh;
    margin: 40px 0 30px 100px;
}
#footer .contact{
    margin: 0 0 120px 100px;
}
#footer .about{
    margin: 70px 0 0 300px;
}
#footer .account{
    margin: 70px 0 0 100px;
}
#footer .app{
    margin: 70px 0 0 100px;
}
#thepro{
    display: flex;
}
#thepro .bigimg1{
    width: 75%;
    margin: 70px 0 0 50px;
    cursor: pointer;
}
#thepro .smallimg{
    display: flex;
    cursor: pointer;
}
#thepro .smallimg1{
    width: 20.8%;
    display: flex;
    margin: 10px 0 0 50px;
    cursor: pointer;
}
.prodes1{
    font-size: 25px;
    padding: 50px 250px 0px 70px;
}
.prodes1 h3{
    padding-bottom: 50px;
    font-size: 45px;
    -webkit-text-fill-color: rgb(51, 129, 184);
    padding-top: 50px;
}

.prodes1 .probuttons{
    padding-top: 80px;
}
.prodes1 .probuttons select{
    font-size: 20px;
    outline: none;
    margin-right: 150px;
}
.prodes1 .probuttons button{
    font-size: 17px;
    padding: 8px;
    background-color: rgb(51, 129, 184);
    -webkit-text-fill-color: white;
    outline: none;
    cursor: pointer;
}
.prodes1 #buy{
    font-size: 17px;
    padding: 7px 30px 7px 30px;
    background-color: rgb(51, 129, 184);
    -webkit-text-fill-color: white;
    outline: none;
    margin: 70px 0 0 150px;
    cursor: pointer;
}
#thank h2{
    text-align: center;
    -webkit-text-fill-color: rgb(51, 129, 184);
    -webkit-text-stroke: #222 1px solid;
    font-size: 40px;
    padding-top: 60px;
}
#blog h3{
    padding: 30px 60px 30px 60px;
    font-size: large;
    text-align: justify;
    line-height: 35px;
    
}
}
